body {
    font-family: sans-serif;
    margin: 0;
    background-image: url('./img/pexels-evie-shaffer-1259279-2395249\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    z-index: 2;
    background-color: #43b4cd93;
    padding: 2em;
    margin-top: 6em;
    margin-left: 1.5rem;
    border-radius: 40px;
    width: 20rem;
    height: auto;
}
.hidden {
    display: none;
}

.wrapper-more {
    z-index: 2;
    background-color: #8a8a8a93;
    padding: 2em;
    margin-top: 3.5em;
    margin-left: 1.5rem;
    border-radius: 40px;
    width: 70%;
}
section.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images {
    width: 90%;
    text-align: center;
}
.animate {opacity: 0;}
.fade-left {
    animation: fadeLeft 1000ms ease-in-out forwards;
}
.fade-right {
    animation: fadeRight 1000ms ease-in-out forwards;
}
.fade-down {
    animation: fadeDown 1000ms ease-in-out forwards;
}
.fade-up {
    animation: fadeUp 1000ms ease-in-out forwards;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.title h1 {
    margin-bottom: 0;
}
.title-more h1 {
    text-align: center;
    animation: fadeDown 1000ms ease-in-out forwards;
}

.location p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 1.2rem;
    color: rgb(39, 174, 41);
}

.location-more p {
    text-align: center;
    color: rgb(156, 255, 204);
    font-size: 1rem;
}

.description-more p{
    font-size: 1.3rem;
}

.see-more{
    margin-right: 5.5rem;
    top: 3rem;
    font-weight: 800;
    color:rgb(0, 0, 0);
    position: absolute;
    z-index: 3;
    font-size: 1.2rem;
}
.see-more:hover {
    animation: shake 0.4s ease-out;
}
.back {
    top: 0.5rem
}

.cursor{
    margin-top: 1.3rem;
    width: 14em;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
/* Animation */
.typewriter-animation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}

.description p {
    font-size: 1.2rem;
    margin-top: 0rem;
}

.like-dislike {
    position: absolute;
    z-index: 2;
    font-size: 3rem;
    margin-left: 3.8rem;
}
.like-dislike-more {
    font-size: 3rem; 
    display: flex;
    justify-content: center;
}
.like-dislike-more i {
    background: white;
    margin-left: 0.5rem;
}
.like-dislike i {
    background: white;
}

.x {
    padding: 1.2rem 1.5rem;
    border-radius: 50%;
    margin-right: 0rem;
    animation: fadeUp 1000ms ease-in-out forwards;
}

.heart {
    padding: 1.2rem 1.5rem;
    border-radius: 50%;
    animation: fadeUp 1000ms ease-in-out forwards;
}


.social {
    margin-left: 1.5rem;

}
.social i {
    font-size: 3rem;
    margin-bottom: 3rem;
    background: white;
    padding: 1rem 1rem;
    border-radius: 50%;
}
.fa-instagram {
    z-index: 1;
    color: #e31fdc;
    animation: fadeRight 1000ms ease-in-out forwards;
}

.fa-facebook {
    z-index: 1;
    animation: fadeRight 1000ms ease-in-out forwards;
}
.fa-linkedin{
    z-index: 1;
    color: #0183ce;
    animation: fadeRight 1000ms ease-in-out forwards;
}


@keyframes zoomIn {
    0% {
        opacity: 1;
        transform: scale(0.3)
    }
    50% {
        opacity: 1;
        transform: scale(1.2)
    }
    100% {
        opacity: 1;
        transform: translateX(1)
    }
    150% {
        opacity: 1;
        transform: scale(1.8)
    }
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(-120px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fadeUp {
     0% {
        opacity: 0;
        transform: translateY(150px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(120px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fadeDown {
     0% {
        opacity: 0;
        transform: translateY(-150px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes shake {
    0% {
        transform: skewX(-40deg);
    }

    25% {
        transform: skewX(40deg);
    }

    50% {
        transform: skewX(-40deg);
    }

    75% {
        transform: skewX(40deg);
    }

    100% {
        transform: skewX(-40deg);
    }
}


